* {
  transition: 2.5s;
}

#one,
#two,
#three,
#four {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  transition: 2.5s;
}

#one:target,
#two:target,
#three:target,
#four:target {
  padding: 1rem;
  width: 95%;
  height: 75%;
  opacity: 1;
  overflow: auto;
  user-select: auto;
  pointer-events: auto;
}

.readme .close {
  color: #fff;
  filter: invert();
}

@font-face {
  font-family: "NewYork";
  src: url("https://creative-community.space/ver/font/NewYork.otf");
}

h1#title {
  font-family: "NewYork", serif;
}
