#hello {
  font-size: 3rem;
  padding: 0.5rem;
  overflow: auto;
}

#hello p {
  font-size: 70%;
  margin: 0.5rem 0 0.75rem;
}

#hello a {
  color: #000;
  border: 1px solid;
  border-radius: 5rem;
  display: inline-block;
  font-size: 55%;
  text-decoration: none;
  transition: 1s;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0 0.5rem;
}

#hello a:hover {
  background: yellow;
  filter: invert();
}

#hello b {
  padding: 0.125rem;
}

#hello u {
  border-bottom: 2px solid;
  font-style: italic;
  text-decoration: none;
  padding: 0.25rem;
}

#hello i {
  display: inline-block;
  font-size: 55%;
  line-height: 200%;
}
