.scroll section.active {
  background: #fff9;
}

.scroll section button {
  font-size: inherit;
  border: solid 1px;
  border-radius: 2rem;
  margin: 0.25rem;
}

nav#contents a.active {
  color: red;
}

code {
  font-size: 111%;
  font-style: normal;
}

pre,
code,
font,
#js-button b::after,
#contents::before,
#links::before {
  font-family: "ipag", monospace;
}

#js-button b::after,
#contents::before,
#links::before {
  text-decoration: underline;
}

#js-button b::after,
#contents::before {
  content:'Index';
  font-size: 90%;
  font-weight: 500;
}

#js-button.close b::after {
  content: 'CLOSE';
}

#links::before {
  content:'参考資料';
  font-size: 75%;
}

#contents::before,
#links::before {
  display: block;
  margin: 0.5rem 0.25rem;
}
