.box {
  width: 75%;
  height: 75vh;
  max-width: 750px;
  max-height: 750px;
  border: 1px solid black;
  font-size: 75%;
  padding: 5px;
  margin: 10vh auto;
  overflow-y: scroll;
  overflow-x: auto;
}

.log {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.log p {
  padding: 0;
  margin: 5px;
}

#rect h3 {
  display: flex;
  justify-content: space-between;
}

details summary h3 {
  display: inline;
}
