#title {
  color:#000;
  text-shadow:
  -2px -2px 0 #fff,
  -1px -1px 0 #fff,
  1px 1px 0 #fff,
  2px 2px 0 #fff,
  3px 3px 0 #fff,
  4px 4px 0 #fff,
  5px 5px 0 #fff;
}

.buttons label,
#lastModified {
  color:#000;
  text-shadow:
  -1px -1px 0 #fff,
  1px 1px 0 #fff,
  2px 2px 0 #fff;
}

.ruleset .selif {
  font-family: "NewYork", serif;
  font-style: italic;
  pointer-events: none;
  user-select: none;
}

.ruleset .sans,
.ruleset .selif::after,
.buttons input {
  font-family: "San Francisco";
  font-style: normal;
}

.ruleset .sans,
code {
  font-size: 125%;
}

.buttons label,
.buttons input {
  box-sizing: border-box;
  display: inline-block;
  margin: 0.25rem 0;
}

.buttons label {
  font-size: 100%;
  font-weight: bold;
  margin-right: 0.5rem;
}

.buttons input {
  color: #000;
  background: #fff;
  border: double 4px #000;
  padding: 0.25rem;
  font-size: 150%;
  width: 350px;
}

@media screen and (max-width: 750px) {

  .buttons input {
    width: 100%;
  }

}
