@font-face {
  font-family: "Bestermind";
  src: url("https://creative-community.space/ver/font/BestermindRegular.ttf") format("truetype");
}

body {
  font-size: 3.21vw;
}

p,
code {
  font-family: "Great Vibes", cursive;
}

pre,
font {
  font-family: "Bestermind", fantasy;
}
