body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "ipag";
  src: url("https://creative-community.space/ipag.ttf");
}

@font-face {
  font-family: "San Francisco";
  src: url("https://creative-community.space/ver/font/san-francisco/SF-Pro.ttf");
}

@font-face {
  font-family: "NewYork";
  src: url("https://creative-community.space/ver/font/NewYork.otf");
}

h1 {
  font-family: "NewYork", serif;
}

.readme,
#contents {
  font-family: "San Francisco", "YuGothic", "Yu Gothic Medium", "Yu Gothic", sans-serif;
  margin: 1rem;
}

#links {
  font-family: "ipag", monospace;
}

h1 {
  margin: 0.5rem 0.25rem;
}

#contents,
#links {
  margin: 0.5rem 1rem;
}

#list {
  padding: 0.25rem;
  margin: 0 0 2rem;
}

#list p {
  padding: 0;
  margin: 0.5rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

#list p small {
  margin-right: 0.25rem;
}

#list p u {
  word-break: break-all;
}

form button {
  appearance : none;
  background: transparent;
  border: solid 0.1rem;
  border-radius: 1.5rem;
  color : inherit;
  font-family : inherit;
  font-size : 100%;
  padding: 0.5rem 1rem;
  outline: none;
}

/* Light theme */
.light {
  background: linear-gradient(180deg, #B3CBF6, #FFC778, #EEE) fixed;
  background-size: 400% 400%;
  animation: sky 10s ease infinite;
}

.light form,
.light #contents a,
.light #links a {
  color: #000;
}

/* Dark theme */
.dark {
  background: radial-gradient(circle at bottom, #222, #111, #000) fixed;
}

.dark form,
.dark #contents a,
.dark #links a {
  color: #fff;
}

/* OS Default */
@media (prefers-color-scheme: light) {
  body {
    background: linear-gradient(180deg, #B3CBF6, #FFC778, #EEE) fixed;
    background-size: 400% 400%;
    animation: sky 10s ease infinite;
  }

  form,
  #contents a,
  #links a {
    color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: radial-gradient(circle at bottom, #222, #111, #000) fixed;
  }

  form,
  #contents a,
  #links a {
    color: #fff;
  }
}

@keyframes sky {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
